{% extends "admin/base_site.html" %}

{% block extrahead %}
<script src="/static/js/hipercicUtilities.js" type="text/javascript"> </script>
<script type="text/javascript">
  

  
  function submitBug(theform)
  {
  // Validate the fields before sending
  if(theform.bugType.value=="None"){
  alert("Please choose a Bug Type before submitting your form");
  document.getElementById("BugTypeIndicator").innerHTML="<small>Must not be empty</small>";
  return;
  }
  else if (theform.summary.value == "Write a brief description of the error here.")
  {
  alert("Make sure to enter a useful summary for this bug!");
  return;
  }
  else if (theform.summary.value == "")
  {
  alert("Make sure to enter a useful summary for this bug!");
  return;
  }
  else if (theform.reportText.value == "")
  {
  alert("Please enter a useful description for this bug!");
  return;
  }  
  else if (theform.reportText.value == "Please describe the bug in as much detail as possible.")
  {
  alert("Please enter a useful description for this bug!");
  return;
  }  

  // build the request text
  requestText = "webBrowserData="+window.navigator.userAgent
                                 +"&hipercicVersion="+{{HIPERCIC_VERSION}}
                                 +"&sourceUrl="+escape(theform.sourceURL.value)
                                 +"&summary="+escape(theform.summary.value)
                                 +"&reportText="+escape(theform.reportText.value)
                                 +"&bugType="+escape(theform.bugType.value);

  // set up the object we're going to send
  request = makeHttpObject();
  
  console("Submitting bug report.");
  
  // open and sent the request
  request.open("POST", window.location.href, false);
  request.setRequestHeader("X-CSRFToken","{{csrfTokenValue}}");
  request.send(requestText);  // send the request
  
  // once we returned...
  if(request.status == 200) {
      // move to the bug viewer page
      window.location = "./"
  }
  else {
      alert("Could not submit your bug report at this time.  Error was:\n" + request.responseText);
  }

  }

</script>

{% endblock %}

{% block content %}
<h1>Submit a Bug Report</h1>
<br>
Please describe the error you are reporting.  Make sure to indicate what you were doing,<br>
what data you had entered,and what went wrong. Use as much detail as you can and describe<br>
the steps to reproduce the problem, the results you expected, and what actually happened.
<br><br>
<form action="">
Bug Type:<select id="bugType">
<option value="None" selected="selected"></option>
{% for shortname,longname in bugTypeChoices %}
<option value="{{shortname}}">{{longname}}</option>
{% endfor %}
</select> <span id="BugTypeIndicator"></span><br>
Summary:<input type="text" size="61" id="summary" maxlength="100" value="Write a brief description of the error here." onFocus="if(this.value == 'Write a brief description of the error here.') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Write a brief desription of the error here.';}"/><small> 100 characters max!</small><br>
<textarea rows="8" cols="68" id="reportText">Please describe the bug in as much detail as possible.</textarea><br>
URL where bug occurred:<input type="text" size="48" maxlength="250" id="sourceURL" value={% if href == "" %} "Enter the URL where the problem occured." {% else %} "{{href}}" {% endif %}/><br>
<input type="button" id="submitButton" value="Submit Bug Report" onclick="submitBug(this.form)" />

</form>



<br><br><br>Console Output:<input type="text" id="consoleOutputBox" value="" readonly="readonly" size="50" />
{% endblock %} {# block content #}
