{% extends "base.html" %}
{% block extrahead %}
<style type="text/css">
#welcome {
border: 1px solid black;
margin: 0px 0 0 50px;
background-color: #FBFBF1;
width: 715px;
}

#welcome th {
border: 1px solid black;
background-color: #DB9F63;
}

#welcome td {
height: 200px;
border: 1px solid black;
}

</style>
{% endblock  %}
{% block center-col %}
<table id="welcome" cellspacing="0" border="0">
  <tbody>
    <tr>
      <th>Welcome to the Downside Correlation Hipercic Project</th>
    </tr>
    <tr>
      <td>
	<ul>
	  <li>You can navigate the site through the menu at the top of the page.</li>
	  <li>To get started, go to "Submit a Job" under the "Jobs" tab.
	  <li>If you want to know more about the asset classes, there is a description under the "About" tab titled "ETF's".</li>
	</ul>
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}


