{% extends "base.html" %}
{% block center-col %}
<h1>Explanation of “Downside Correlation of Investment Asset Classes”</h1> 

<h2>Origin/Goals</h2> 
D-Cor is a HiPerCiC (High-performance computing in the classroom) application designed to determine the optimal combination of asset classes in a portfolio during a downturn in the economy. Investors and financial market researchers do not examine correlation meticulously when the markets are good and the economy is booming. However, when security prices have been falling for a while, average investors and fund managers alike start asking the question, “What should I be investing in to avoid the worst of this crisis?” The answer to that question is what Professor Rick Goedde’s research and the D-Cor application attempt to discover. Domain Professor Goedde brought his research idea to the HiPerCiC course, and a team of two implementation students, Benjamin Guillet and Ian Zewiske, and one domain student, Ryan Johnsrud, collaborated to develop the D-Cor app. 
<br />

<h2>ETFs</h2> 
For asset classes, this application uses Exchange Traded Funds, or ETFs, which give investors a stake in pools of related securities. An ETF is an investment fund that holds assets such as stocks, commodities, or bonds. Most ETFs track a stock or bond index, which is a statistical measure of changes in a representative group of individual stock or bond prices. Exchange Traded Funds are similar in many ways to mutual funds, but are traded throughout the whole trading day on various international stock exchanges. For a list of ETFs used in D-Cor and an explanation of each, click here.***LINK***
<br /> 

<h3>Different Financial Services companies offer Exchange Traded Funds. In this project we used ETFs from:</h3>
BlackRock iShares - http://us.ishares.com/home.htm <br />
Vanguard - https://investor.vanguard.com/home/<br />
Charles Schwab - https://www.schwab.com/ <br />
SPDR by State Street Global Advisors - https://www.spdrs.com/index.seam <br />
Dimensional Fund Advisors - http://www.dfaus.com/ <br />
Invesco PowerShares http://www.invescopowershares.com/ <br />

<h2>How It Works</h2>
First, the user inputs various parameters, including:
start and end dates, 
number of asset classes in the portfolio, 
which asset classes (ETFs) to exclude, and
portion of total portfolio value invested in each ETF.
Then, the computer program tests each combination of asset classes (that the user has indirectly selected through the chosen parameters) for their worst period of returns within the allotted start and end dates. The computer finds each period where the world’s worst investor purchased this combination of ETFs at the highest price within the pre-selected time period, and proceeded to sell at the lowest point. Once a “worst return” is calculated for each combination, D-Cor tells the user what combination would be the best of the worst. Finally, this winning combination of asset classes—the portfolio which would have lost the investor the least amount of money during this time period—is displayed on the results page.

{% endblock %}
